.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero {
  width: 500px;
  height: 500px;
  text-align: center;
}

.button {
  cursor: pointer;
}
